<div style="margin-left: auto; margin-right: auto">
  <p id="registerFeedback"></p>
</div>
<div>
  <h1>Register</h1>

  <!-- TODO 18 -->

  <form *ngIf="registerForm" [formGroup]="registerForm" (ngSubmit)="register()">

    <div>
      <label for="name">Name: </label>
      <input type="text" [formControl]="name" />

      <div *ngIf="name.errors">
        <div *ngIf="name.errors && isValidForm != null && !isValidForm" [ngClass]="'error'">
          <div *ngIf="name.errors.required">Name is required</div>
          <div *ngIf="name.errors.maxlength">Name can be max 25 characters long.</div>
          <div *ngIf="name.errors.minlength">Name must have min 5 characters</div>
        </div>
      </div>
    </div>

    <div>
      <label for="surname_1">Surname_1: </label>
      <input type="text" [formControl]="surname_1" />

      <div *ngIf="surname_1.errors">
        <div *ngIf="surname_1.errors && isValidForm != null && !isValidForm" [ngClass]="'error'">
          <div *ngIf="surname_1.errors.required">Surname 1 is required</div>
          <div *ngIf="surname_1.errors.minlength">Surname 1 must have at least 5 characters.</div>
          <div *ngIf="surname_1.errors.maxlength">Surname 1 can not have more than 25 characters.</div>
        </div>
      </div>
    </div>

    <div>
      <label for="surname_2">Surname_2: </label>
      <input type="text" [formControl]="surname_2" />
      <div *ngIf="surname_2.errors">
        <div *ngIf="surname_2.errors && isValidForm != null && !isValidForm" [ngClass]="'error'">

          <div *ngIf="surname_2.errors.minlength">Surname 2 must have at least 5 characters.</div>
          <div *ngIf="surname_2.errors.maxlength">Surname 2 can not have more than 25 characters.</div>
        </div>
      </div>
    </div>

    <div>
      <label for="alias">Alias: </label>
      <input type="text" [formControl]="alias" />
      <div *ngIf="alias.errors">
        <div *ngIf="alias.errors && isValidForm !=null && !isValidForm" [ngClass]="'error'">
          <div *ngIf="alias.errors.required">Alias is required</div>
          <div *ngIf="alias.errors.minlength">Alias must have at least 5 characters.</div>
          <div *ngIf="alias.errors.maxlength">Alias can not have more than 25 characters.</div>
        </div>
      </div>
    </div>

    <div>
      <label for="birth_date">Birth Date: </label>
      <input type="text" [formControl]="birth_date">
      <div *ngIf="birth_date.errors">
        <div *ngIf="birth_date.errors && isValidForm !=null && !isValidForm" [ngClass]="'error'">
          <div *ngIf="birth_date.errors.required">Birth date is required</div>
          <div *ngIf="birth_date.errors.pattern">Invalid date format. Please use YYYY-MM-DD</div>
        </div>
      </div>
    </div>

    <div>
      <label for="email">Email: </label>
      <input type="text" [formControl]="email">
      <div *ngIf="email.errors">
        <div *ngIf="email.errors && isValidForm !=null && !isValidForm" [ngClass]="'error'">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">Please use a valid email</div>
        </div>
      </div>
    </div>

    <div>
      <label for="password">Pasword: </label>
      <input type="password" [formControl]="password">
      <div *ngIf="password.errors">
        <div *ngIf="password.errors && isValidForm !=null && !isValidForm" [ngClass]="'error'">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must have at least 8 characters.</div>
          <div *ngIf="password.errors.maxlength">Password can not have more than 16 characters</div>
        </div>
      </div>
    </div>


    <button type="submit">REGISTER</button>
  </form>


</div>




